.sample {
  margin-top: 10px;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  animation: pop-in 2s ease-in;
}
.containerHeader {
}
@keyframes pop-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-out {
  100% {
    transform: scale(1);
  }
  0% {
    transform: scale(0);
  }
}
.header {
  height: 30%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 46px;
  animation: pop-in 1s ease-in;
}

.container {
  border: 1px solid black;
  width: 600px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.layout {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  width: 200px;
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
}
.form {
  height: 60%;
  width: 400px;
}
